@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Minecraft";
	src: url("/fonts/Minecraft-Seven_v2.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Minecraft", sans-serif;
}

.markdown > *:not(h1) {
	all: revert;
}

.markdown code {
	background-color: rgb(40, 44, 52);
	color: rgb(171, 178, 191);
	padding: 0.2em 0.4em;
	border-radius: 6px;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation, monospace;
	font-size: 85%;
	text-wrap: wrap;
}

.markdown img {
	border-radius: 10px 14px 10px 14px;
	width: 460px;
	max-width: 100%;
	height: auto;
}

.markdown li {
	margin: 1rem 0;
}

details > summary {
	list-style: none;
	display: flex;
	align-items: center;
}
details > summary::-webkit-details-marker {
	display: none;
}
